.message-drop {
	width: 350px;
	height: 363px;
	float: right;
	box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.8);
}

.drop-box {
	border-radius: 2px;
	/*border: 1px solid #d2c7be;*/
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	height: 100%;
}

.drop-header, .drop-footer {
	float: top;
	height: 20px;
	padding: 3px;
}
 .drop-list-wrapper {
 	height: 310px;
 	float: top;
 	overflow-y: hidden;

 }

 .drop-list {
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 	height: 100%;
 	overflow-y: scroll;
 }

 .drop-item {
 	height: 64px;
 }

 .message-icon {
 	float:top;
 	float: left;
 	display: inline-block;
	background-size: 30px;
	height: 30px;
	width: 30px;
	opacity: 0.55;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 15px;
 }

 .drop-text {
 	/*overflow: hidden;*/
 	font-size: 12px;
 	padding: 0;
 	margin: 0;
 	font-family: inherit;
 }

 .drop-text-span {
 	height: 14px;
 	width: 250px;
 	overflow: hidden;
 	margin-top: 25px;
	margin-bottom: 25px;
	float:left;
	display: inline-block;
 }

 .drop-header-text {
 	font-size: 12px;
 	padding: 0;
 	margin: 0;
 	font-family: inherit;
 	text-align: center;
 }

.main {
	margin: 0 auto;
	border-top: 1px solid transparent;
	padding: 0 0 16px;
	max-width: 976px;
}