@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

.body {
	margin: 0;
	/*background: #f6f1eb;*/
	background: #edeae9;
	min-width: 320px;
	overflow-y: scroll;
	line-height: 1;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
}

.header {
	position: fixed;
	top: 0;
	/*border-bottom: 1px solid #d2c7be;*/
	border-bottom: 1px solid #d5d1d0;
	background: #fff;
	height: 56px;
	width: 100%;
	text-align: center;
	line-height: 56px;
}

.logo-link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #000;
	font-variant: small-caps;
	font-family: Consolas, Monaco, 'Lucida Console', monospace;
	font-weight: normal;
	font-size: 2rem;
}

.logo-link::after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
}

.logo-img {
	border: 0;
	height: 56px;
	width: 200px;
}

.main {
	margin: 0 auto;
	border-top: 1px solid transparent;
	padding: 57px 0 16px;
	max-width: 976px;
}

.box {
	margin: 16px;
	border-radius: 2px;
	/*border: 1px solid #d2c7be;*/
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
}

.box-padding {
	margin: 16px;
}

.column-wrapper {
	margin: 16px 0 16px 16px;
	overflow: hidden;
}

.column-2 {
	float: left;
	width: 50%;
}

.column {
	margin: 0 16px 0 0;
}

.h1 {
	margin: 16px 0;
	font-weight: normal;
}

.h2 {
	margin: 16px 0;
	font-weight: normal;
}

.button {
	display: inline-block;
	border-radius: 2px;
	background: #e37314;
	padding: .5em .8em;
	text-decoration: none;
	line-height: 1.3;
	color: #fff;
}

.button:focus {
	background: #00adaa;
}

.input {
	display: block;
	font-family: inherit;
	font-size: 1em;
}

.text {
	margin: 8px 0;
	border: 1px solid #d5d1d0;
	padding: .5em .6em;
}

/*.input-text-valid {
	border-color: #00adaa;
}*/

.text:focus {
	border-color: #e37314;
}

.input-button {
	border-width: 0;
	cursor: pointer;
}

.input-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.select-has-submit {
	box-sizing: border-box;
	border-color: #e37314;
	border-right-width: 0;
	padding: 0 .6em;
	height: 2.3em;
	vertical-align: top;
}

.select-submit {
	box-sizing: border-box;
	border-radius: 0 2px 2px 0;
	height: 2.3em;
}

.option {
	line-height: 1;
	font-size: .8em;
}

.option[value=""] {
	color: #888;
}

.input-block {
	box-sizing: border-box;
	width: 100%;
}

.input-inline {
	display: inline-block;
	margin: 0;
}

.float-right {
	float: right;
}

.small-text {
	line-height: 1.3;
	color: #888;
	font-size: .8em;
}

.link {
	text-decoration: none;
	color: #00adaa;
}

.link:hover {
	text-decoration: underline;
}

.link:focus {
	color: #00adaa;
}

.hidden {
	display: none;
}

/* Large version */
@media (min-width: 1241px) {
	.main {
		max-width: 1180px;
	}
}

/* Mobile version */
@media (max-width: 623px) {
	.header {
		position: absolute;
	}

	.column-wrapper {
		margin: 0;
		overflow: visible;
	}

	.column-2 {
		margin: 16px;
		float: none;
		width: auto;
	}

	.column {
		margin: 0;
	}

	.float-right {
		display: block;
		float: none;
		margin: 8px 0;
		text-align: center;
	}

	.select-has-submit {
		display: block;
		margin: 8px 0;
		border-right-width: 1px;
		width: 100%;
	}

	.select-submit {
		display: block;
		margin: 8px 0;
		border-radius: 2px;
		width: 100%;
	}
}