/* Fonts */

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/OpenSans-Regular.woff') format('woff'),
	     url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/OpenSans-Bold.woff') format('woff'),
	     url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/OpenSans-Italic.woff') format('woff'),
	     url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
	     url('../fonts/OpenSans-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

/* All versions */

.body {
	margin: 0;
	background: #edeae9;
	min-width: 320px;
	overflow-y: scroll;
	line-height: 1;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
}

.header {
	position: fixed;
	top: 0;
	z-index: 98;
	border-bottom: 1px solid #d5d1d0;
	background: #fff;
	width: 100%;
	min-width: 320px;
	text-align: center;
}

.header-padding {
	position: relative;
	margin: 0 auto;
	max-width: 942px;
}

.header-nav {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 60px;
}

.header-item {
	float: left;
}

.header-split {
	float: left;
	margin: 18px 8px;
	border-right: 1px solid #d5d1d0;
	height: 24px;
	width: 0px;
}

.icon-holder {
	position: relative;
	display: block;
	margin: 10px auto;
	outline: 0;
	padding: 10px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	text-indent: -9999em;
}

.icon-holder[data-icon-number]:after {
	position: absolute;
	top: 0;
	right: 3px;
	display: block;
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	border-radius: 2px;
	background: #d01017;
	padding: 1px 3px;
	content: attr(data-icon-number);
	text-indent: 0;
	line-height: normal;
	color: #fff;
	font-weight: bold;
	font-size: .625em;
}

.icon-holder[data-icon-number='0']:after {
	display: none;
}

.icon {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	opacity: 0.85;
}

.hidden + .icon-holder .icon {
	opacity: 0.55;
}

.icon-holder:hover .icon {
	opacity: 0.85 !important;
}

.icon-user, .icon-holder:hover .icon-user {
	opacity: 1 !important;
}

.icon-home {
	background-image: url('../img/icon_home.png');
}

.icon-frequests {
	background-image: url('../img/icon_frequests.png');
}

.icon-messages {
	background-image: url('../img/icon_messages.png');
}

.icon-search {
	background-image: url('../img/icon_search.png');
}

.icon-accommodation {
	background-image: url('../img/icon_accommodation.png');
}

.icon-down {
	background-image: url('../img/icon_down.png');
}

.logo-link {
	display: inline-block;
	position: relative;
	margin: 5px 0;
	height: 50px;
	text-decoration: none;
	color: #000;
	font-variant: small-caps;
	font-family: Consolas, Monaco, 'Lucida Console', monospace;
	font-weight: normal;
	font-size: 2rem;
}

.logo-link:after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
}

.logo-img {
	border: 0;
	height: 50px;
}

.header-space {
	height: 61px;
}

/* CSS for drop down menu*/

.drop {
	position: absolute;
	top: 48px;
	right: 0;
	max-width: 430px;
	max-height: 363px;
	text-align: left;
	line-height: 1;
	font-size: .8em;
}

.drop-wide {
	width: 430px;
}

.drop-mini {
	font-size: .9em;
}

.drop-icon-holder {
	position: relative;
	z-index: 2;
	height: 12px;
}

.drop-icon, .drop-icon-border {
	position: absolute;
	top: 5px;
	right: 10%;
	border-width: 0 8px 8px;
	border-style: solid;
	border-color: transparent transparent #fff;
}

.drop-icon-border {
	margin-top: -1px;
	border-bottom-color: #e9e6e5;
}

.drop-box {
	position: relative;
	z-index: 1;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #ffffff;
	height: 100%;
}

.drop-mini .drop-box {
	border-color: rgba(0,0,0,0.15);
	padding: .5em 0;
}

.drop-header, .drop-footer {
	display: block;
}

.drop-header {
	margin: 0;
	border-bottom: 1px solid #e4e0df;
	padding: 0 8px;
	line-height: 2em;
	font-weight: bold;
	font-size: 1em;
}

.drop-list-wrapper {
	border: 0 !important;
	max-height: 310px;
	overflow: hidden;
}

.drop-list-area {
	max-height: 310px !important;
}

.drop-item {
	border-top: 1px solid #e4e0df;
}

.drop-item:first-child, .drop-placeholder + .drop-item {
	border-top: 0;
}

.drop-item-link, .drop-item-box {
	position: relative;
	display: block;
	outline: 0;
	padding: .5em 1.25em .5em 5.40625em;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
}

.drop-item-link:hover {
	background-color: #f2f0ef;
}

.drop-mini .link {
	display: block;
	text-decoration: none !important;
	outline: 0;
	padding: .5em 1.5em;
}

.drop-mini .link:hover {
	background: #e37314;
	color: #fff;
}

.drop-mini-split {
	margin: 6px 8px;
	border-top: 1px solid #e4e0df;
}

.drop-item-pic {
	position: absolute;
	top: .5em;
	left: .8em;
	background-color: #efefef;
	background-size: 100% 100%;
	width: 3.90625em;
	height: 3.90625em;
}

.drop-item-header, .drop-item-text, .drop-item-footer, .drop-placeholder {
	margin: 0;
	padding: 0;
	min-height: 1.3em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.3em;
	font-size: 1em;
}

.drop-item-header {
	font-weight: bold;
}

.drop-item-header-right {
	float: right;
}

.drop-item-text {
	color: #666;
}

.drop-item-text-sent:before {
	content: "Sent: ";
}

.drop-item-footer {
	padding-top: .26em;
	font-size: .8em;
	color: #888;
}

.drop-footer {
	outline: 0;
	border-top: 1px solid #e4e0df;
	line-height: 2.5em;
	text-align: center;
}

/*End CSS for drop menu*/

/* Placeholders */

.ph:after {
	content: attr(data-placeholder);
}

.ph-last {
	display: none;
}

.ph-last:last-child {
	display: block;
}

.ph-drop, .ph-message {
	margin: 1em 0;
	cursor: default;
	text-align: center;
	color: #888;
}

.ph-message {
	margin: 16px 0 0 8px;
}

/* End placeholders */

.main {
	margin: 0 auto;
	border-top: 1px solid transparent;
	padding: 0 0 16px;
	max-width: 976px;
}

.box, .column-box {
	margin: 16px;
	border-radius: 2px;
	/*border: 1px solid #d2c7be;*/
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
}

.column-wrapper {
	margin: 16px 0 -16px 16px;
	padding: 0 0 16px;
	overflow: hidden;
}

.column-2 {
	float: left;
	width: 50%;
}

.column-box {
	margin: 0 16px 0 0;
}

.box-padding {
	margin: 16px;
}

.box-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.banner {
	margin: 2.5em auto;
	width: 500px;
	text-align: center;
	color: #534e4d;
}

.details-box {
	float : left;
}

.housepic {
	width: 4em;
	height: 4em;
	float: left;
	margin: 0 10px 10px 0
}

.accommodation {
	overflow: hidden;
}

.acc-short-desc {
	height: 2em;
	overflow: hidden;
	margin: 1em 0px 0px;
}

.acc-short-pic {
  background-size: cover;
  float: left;
  margin-right: 16px;
  width: 4em;
  height: 4em;
  background-position: center center;
}


.table, .td, .th {
	border: 1px solid black;
	border-collapse: collapse;
}

.questions-admin {
	width: 100%;
}

.tab {
	display: inline-block;
}

.box-content {
	display: none;
}

.details {
	color: #CCC;
	line-height: 1;
	font-size: .8em;
}

.details:after {
	display: inline-block;
	margin: 0 4px 3px 6px;
	border-style: solid;
	border-color: #00adaa transparent;
	content: "";
	height: 0;
}

.details-down:after {
	border-width: 3px 3px 0;
}

.details-up:after {
	border-width: 0 3px 3px;
}

.h1, .h2 {
	margin: 16px 0;
	font-size: 2em;
}

.h2 {
	font-weight: normal;
	font-size: 1.5em;
}

.a {
	text-decoration: none;
	color: inherit;
}

.text {
	margin: 1em 0;
	line-height: 1.3;
	font-size: 1em;
}

.link-button, .input-button {
	display: block;
	border-radius: 2px;
	background: #e37314;
	padding: 0 .8em;
	margin-bottom: 16px;
	text-align: center;
	line-height: 2.3;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.link-button {
	display: inline-block;
}

.link-button:focus, .input-button:focus {
	background: #00adaa;
}

.input, .input-button, .select {
	display: inline-block;
	font-family: inherit;
	font-size: 1em;
}

.input, .select {
	border: 1px solid #d9d6d5;
	background: #fff;
	padding: .5em .6em;
}

.input {
	margin: 8px 0;
}

/*.input-text-valid {
	border-color: #00adaa;
}*/

.input:focus {
	border-color: #e37314;
}

.input-button {
	border: 0 none;
	cursor: pointer;
	box-sizing: border-box;
	height: 2.3em;
}

.input-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.has-submit {
	margin: 0;
	box-sizing: border-box;
	border-color: #e37314;
	border-right-width: 0;
	padding: 0 .6em;
	height: 2.3em;
	vertical-align: top;
}

.select-submit {
	margin: 0;
	border-radius: 0 2px 2px 0;
}

.option[value=""] {
	color: #888;
}

/* Temporary checkbox/radio styles. */

.cr-label {
	position: relative;
	display: block;
	margin: 8px 0;
	height: 18px;
	cursor: pointer;
	line-height: 18px;
	color: #888;
	font-size: .9em;
	overflow: hidden;
}

.cr-label:hover {
	color: #555;
}

.cr {
	position: absolute;
	top: -10em;
	left: 0;
}

.cr-button {
	position: relative;
	display: block;
	float: left;
	margin: 0 .6em 0 0;
	border: 1px solid #d9d6d5;
	background: #fff;
	width: 16px;
	height: 16px;
}

.cr:focus + .cr-button {
	border-color: #e37314;
}

.cr-button:after {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	content: "";
}

.r-button, .r-button:after {
	border-radius: 100%;
}

.cr:checked + .cr-button:after {
	background: #e37314;
}

.cr-text {
	display: block;
	float: left;
}

/* End temporary checkbox/radio styles */

.block {
	display: block;
	box-sizing: border-box;
	margin: 8px 0;
	width: 100%;
}

.ul {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.button2 {
	display: inline-block;
	/*margin: -.4em 0 0;*/
	margin: 0;
	padding: 0 .5em;
	height: 1.625em;
	line-height: 1.625;
	font-size: .8em;
	vertical-align: top;
}

.small-text, .footer {
	line-height: 1.6;
	color: #888;
	font-size: .8em;
}

.link {
	cursor: pointer;
	text-decoration: none;
	color: #00adaa;
}

.link:hover {
	text-decoration: underline;
}

.link:focus {
	color: #00adaa;
}

.profile-box-item {
	margin: 16px 0 0;
	border-top: 1px solid #d9d6d5;
	padding: 16px 0 0;
}

.profile-box-item:first-child {
	margin: 0 !important;
	border: 0;
	padding: 0 !important;
}

.profile-box {
	overflow: hidden;
}

.profile-picture {
	display: block;
	margin: 0 1em 0 0;
	float: left;
	background-position: center center;
	background-image: url('../img/profile-picture-placeholder.gif');
	background-size: cover;
	height: 6.8em;
	width: 6.8em;
}

.profile-box-inner {
	float: left;
}

.profile-name {
	display: block;
	margin: 0 0 2em !important;
	text-decoration: none;
	color: #000;
}

.profile-percent {
	margin-top: -2em;
	font-size: 1.5em;
	line-height: 2em;
}

.profile-links .link-button {
	margin: 0;
}

.scroll-wrapper {
	position: relative;
	border-top: 1px solid #e4e0df;
	border-bottom: 1px solid #e4e0df;
	overflow: hidden;
}

.scroll-area {
	margin-right: -30px;
	padding-right: 30px;
	/* Will adjust this with JS */
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.scroll-bar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 12px;
	overflow: hidden;
}

.scroll-bar:before {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	content: "";
	transition: background 0.2s;
}

.scroll-bar:hover:before {
	background: rgba(0,0,0,0.08);
}

.scroll-tracker {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px 0 0 2px;
	background: #e4e0df;
	height: 20%;
	width: 25%;
	transition: background 0.2s, width 0.2s;
}

.scroll-bar:hover .scroll-tracker {
	background: #d5d1d0;
	width: 100%;
}

.conversation {
	padding: 0 8px 16px 0;
}

.message {
	position: relative;
	padding: 16px 16px 0 60px;
}

.sent + .sent, .received + .received {
	padding-top: 0;
	padding-bottom: 0;
}

.sent + .sent:before, .received + .received:before {
	display: none;
}

.message-pic {
	display: block;
	position: absolute;
	top: 18px;
	left: 16px;
	background-color: #EFEFEF;
	background-size: 33px 33px;
	width: 33px;
	height: 33px;
}

.sent + .sent .message-pic, .received + .received .message-pic {
	display: none;
}

.message-name {
	display: block;
	margin: 0 0 4px;
	font-weight: bold;
	font-size: .9em;
}

.sent + .sent .message-name, .received + .received .message-name {
	display: none;
}

.message .text {
	margin: 0;
	font-size: .9em;
}

.sent + .sent .text, .received + .received .text {
	margin: 8px 0 0;
}

./*sent {
}

.received {
}

.read {
}*/

.received.unread {
	color: red;
}

.textarea-holder {
	border: 1px solid #d5d1d0;
}

.textarea {
	display: block;
	box-sizing: border-box;
	border: 0;
	padding: .5em;
	min-height: 5.2em;
	max-height: 13em;
	height: 5.2em;
	width: 100%;
	resize: none;
	line-height: 1.3;
	font-family: inherit;
	font-size: .9em;
}

.footer {
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	line-height: 1.3;
}

.footer-item {
	float: left;
}

.footer-item:before {
	margin: 0 4px;
	content: "·";
}

.footer-item:first-child:before {
	display: none;
}

.footer-link {
	text-decoration: none;
	color: inherit;
}

.footer-link:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

#errorList {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	padding: 0 16px;
}

.errorBox {
	margin: 16px auto;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.16) !important;
	padding: 16px;
	max-width: 600px;
}

.mobile-only {
	display: none;
}

/* Large version */
@media (min-width: 1441px) {
	.main {
		max-width: 1180px;
	}

	.header-padding {
		max-width: 1146px;
	}

	.box-padding {
		margin: 20px;
	}

	.h1, .h2 {
		margin: 20px 0;
	}

	.input, .cr-label {
		margin: 10px 0;
	}
}

/* Small version */
@media (max-width: 976px) {
	.header {
		position: absolute;
		text-align: left;
	}

	.header-padding {
		margin: 0 17px;
	}

	.profile-picture {
		margin-right: 8px;
		height: 4.24em;
		width: 4.24em;
	}

	.profile-name {
		margin: 0 0 1.4em !important;
		font-size: 1em;
	}

	.profile-percent {
		margin-top: -1.4em;
		font-size: 1em;
		line-height: 1.4em;
	}

	.profile-links {
		font-size: 0.8em;
	}
}

/* Mobile version - inherits from small version*/
@media (max-width: 623px) {
	.header {
		text-align: center;
	}

	.header-padding {
		margin: 0;
	}

	.header-nav {
		position: relative;
		padding: 0 9px;
	}

	.header-item {
		/*width: 14.2857%;*/
		width: 20%;
		text-align: center;
	}

	.header-split {
		display: none;
	}

	.header-space-extra {
		height: 120px;
	}

	.header-fixed {
		position: fixed;
	}

	.header-fixed .logo-link {
		display: none;
	}

	.drop {
		width: 320px;
	}

	.main {
		padding-bottom: 0;
	}

	.column-wrapper {
		margin: 0;
		padding: 0;
		overflow: visible;
	}

	.column-2 {
		margin: 8px;
		float: none;
		width: auto;
	}

	.column-box, .box {
		border-radius: 0;
	}

	.column-box {
		margin: 0;
	}

	.box, .box-padding {
		margin: 8px;
	}

	.h2 {
		margin: 10px 0;
		border-bottom: 1px solid #d9d6d5;
		padding: 0 0 10px;
		line-height: 1;
		color: #a39791;
		font-weight: bold;
		font-size: .92em;
	}

	.profile-box-item {
		margin: 10px 0 0;
		padding: 10px 0 0;
	}

	.profile-picture {
		margin-right: 8px;
		height: 4.84em;
		width: 4.84em;
	}

	.profile-name {
		margin: 0 0 1.5em !important;
		border: 0;
		padding: 0;
		color: inherit;
		font-weight: normal;
		font-size: 1.2em;
	}

	.profile-percent {
		margin-top: -1.8em;
		font-size: 1em;
		line-height: 1.8em;
	}

	.float-right {
		display: block;
		float: none;
		margin: 8px 0;
		text-align: center;
	}

	.has-submit {
		display: block;
		margin: 8px 0;
		border-right-width: 1px;
		width: 100%;
	}

	.select-submit {
		display: block;
		margin: 8px 0;
		border-radius: 2px;
		width: 100%;
	}

	.not-mobile {
		display: none;
	}

	.mobile-only {
		display: block;
	}

	.text, .small-text {
		margin: 8px 0;
	}
}

/* ADDED BY MITALI */

/*position of image within container*/
.img {
	width:130px;
	height: 130px;
	background: #ebe6e7;
	border-width: 0.5px;
	border-color: #fff;
	display: block;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
	margin-left: 12.5px;
}

.left-box {
	width: 160px;
	height: 60%;
	background: #fff;
	float: left;
}

/*box details for user pic*/
.userp {
	float: left;
	margin: 0 1.5%;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
	width: 140 px;
	height:160 px;
	padding-right: 10px;
	margin-bottom: 12px;
}

.searches {
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 2px;
	/* border: 1px solid #d2c7be; */
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
}

.reviews {
	width: 30%;
	height: 100%;
	float: right;
	margin-right: 20px;
	border-radius: 2px;
	/* border: 1px solid #d2c7be; */
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
}

.search-element {
	list-style: none;
}

.review-element {
	list-style: none;
}

.titletext {
	font-family: 'Open Sans', arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

.nametext {
	font-family: 'Open Sans', arial, sans-serif;
	text-decoration: none;
	text-align: center;
}
