<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Roomies</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="body">
	<div class="header">
		<h1 class="logo">
			<a href="index.html" class="logo-link">
				<!-- Logo (no whitespace between tags) -->
				<img src="media/img/logo-roo.png" alt="Roo" class="logo-img"
				><span class="logo-img"
					><img src="media/img/logo-m.png" alt="m" class="logo-img logo-img-m"
				></span
				><img src="media/img/logo-ies.png" alt="ies" class="logo-img">
			</a>
		</h1>
	</div>
	<div class="main">
		<div class="main-wrapper">
			<h2>Sign in</h2>
			<h2>Register</h2>
			<h2>
				<a href="#" class="button">Accomodation Reviews</a>
			</h2>
		</div>
	</div>
</body>
</html>