@font-face {
	font-family: 'Open Sans';
	src: url('media/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('media/fonts/OpenSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('media/fonts/OpenSans-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('media/fonts/OpenSans-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

.body {
	margin: 0;
	/*background: #f6f1eb;*/
	background: #edeae9;
	min-width: 320px;
	line-height: 1;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
}

.header {
	position: fixed;
	top: 0;
	/*border-bottom: 1px solid #d2c7be;*/
	border-bottom: 1px solid #d5d1d0;
	background: #fff;
	height: 56px;
	width: 100%;
	text-align: center;
	line-height: 56px;
}

.logo-link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #000;
	font-variant: small-caps;
	font-family: Consolas, Monaco, 'Lucida Console', monospace;
	font-weight: normal;
	font-size: 2rem;
}

.logo-link::after {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
}

.logo-img {
	border: 0;
	height: 56px;
	width: 200px;
}

.main {
	border-top: 1px solid transparent;
	padding: 57px 0 16px;
}

.main-wrapper {
	margin: 0 auto;
	max-width: 976px;
}

.box {
	margin: 16px;
	border-radius: 2px;
	/*border: 1px solid #d2c7be;*/
	border-width: 1px;
	border-style: solid;
	border-color: #e9e6e5 #e4e0df #d5d1d0;
	background: #fff;
}

.box-padding {
	margin: 16px;
}

.column-wrapper {
	margin: 16px 0;
	overflow: hidden;
}

.column-2 {
	float: left;
	margin: 0 0 0 16px;
	width: 462px;
}

.h2 {
	margin: 16px 0;
	font-weight: normal;
}

.label {
	display: block;
	margin: 8px 0;
}

.button {
	display: inline-block;
	border-radius: 2px;
	background: #e37314;
	padding: .5em .6em;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: .9rem;
}

.button:focus {
	background: #00adaa;
}

.input-button {
	border-width: 0;
	cursor: pointer;
}

.input-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Tablet version */
@media (max-width: 975px) {
	.main {
		margin: 0 auto;
		max-width: 624px;
	}

	.column-2 {
		width: 286px;
	}
}

/* Mobile version - inherits from tablet version */
@media (max-width: 623px) {
	.header {
		position: absolute;
	}

	.column-wrapper {
		margin: 16px;
	}

	.column-2 {
		margin: 0 0 16px;
		float: none;
		width: auto;
	}

	.column-2:last-child {
		margin: 0;
	}
}