# Put Roomies header into environment
RewriteEngine on
RewriteRule .? - [E=HTTP_ROOMIES:%{HTTP:Roomies}]

# Cache
#   AddType font/ttf .ttf
#   ExpiresActive On
#	ExpiresByType font/ttf						"access 1 year"
#	ExpiresByType image/jpeg					"access 1 year"
#	ExpiresByType image/jpeg					"access 1 year"
#	ExpiresByType image/gif						"access 1 year"
#	ExpiresByType image/png						"access 1 year"
#	ExpiresByType text/css						"access 1 month"
#	ExpiresByType text/html						"access 1 month"
#	ExpiresByType application/pdf				"access 1 month"
#	ExpiresByType text/x-javascript				"access 1 month"
#	ExpiresByType application/x-shockwave-flash	"access 1 month"
#	ExpiresByType image/x-icon					"access 1 year"
#	ExpiresDefault								"access 1 month"

# Deflate resources
Options +Includes
AddOutputFilter INCLUDES;DEFLATE php html css js ttf svg

# 404
ErrorDocument 404 /error/404.php
